.search {
  margin-left: 30%;
  margin-top: 3%;
  height: 3rem;
  width: 30rem;
  font-size: medium;
}

.search:focus {
  outline: none;
}
.addAccount {
  height: 3rem;
  width: 8rem;
  margin-left: 3%;
  margin-top: 2%;
  border-radius: 6px;
  background-color: rgb(26, 212, 26);
  border: none;
  font-size: medium;
}
.customerBox {
  height: 8rem;
  width: 16rem;
  background-color: rgb(251, 251, 251);
  margin-top: 0%;
  margin-left: 70%;
  border-radius: 18px;
}
